# Virtual environment
venv/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Dataset files (keep folder, ignore contents)
data/*
!data/.gitkeep
